body {
    background-color: #fff;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.sheach{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seach_node{
    width: 95%;      /* chiều rộng */
    height: 40px;      /* chiều cao */
    font-size: 16px;   /* cỡ chữ */
    padding: 5px 10px; /* khoảng cách bên trong input */
}
/* #map {
    height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    z-index: 100;
} */
.chart1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#co_chart{
    width: 50%;
    height: 250px;
}
#temp_chart{
    width: 50%;
    height: 250px;
}
#humi_chart{
    width: 50%;
    height: 250px;
}
#pm2_5_chart{
    width: 50%;
    height: 250px;
}