body {
    background-color: #fff;
    color: black;
}

html {
    scroll-behavior: smooth;
}

#seach_node {
    width: -webkit-fill-available;
    height: 87px;
}

#map {
    height: 450px;
    width: 100%;
    margin: 20px auto;
}