<!DOCTYPE html>
<html>

<head>
    <title>ESP Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script
        src="{{ url_for('static', filename='node_modules/echarts/dist/echarts.min.js') }}">// biểu đồ sẽ khai báo ở đây</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.7.2-web/css/all.css') }}">
    <!-- file icon -->
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
    <h1 style="text-align: center;">Hệ thống giám sát chất lượng không khí</h1>

    <div class="seach">
        <input class="seach_node" type="text" placeholder="bạn cần tìm node?">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>


    <button onclick="window.location.href='/login'">Đi đến trang quản lý</button>
    <div class="chart1">
        <div id="co_chart"></div>
        <div id="temp_chart"></div>
    </div>
    <div class="chart2">
        <div id="humi_chart"></div>
        <div id="pm2_5_chart"></div>
    </div>
    <!-- <footer>
        <div id="map"></div>
    </footer> -->
    <script src="{{ url_for('static', filename='javascrift.js') }}"></script>
</body>

</html>